/* AlquilarAmigo.css */

.AlquilarAmigo {
    padding: 20px;
  }
  
  .titulo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .AlquilarAmigo-header {
    width: 100%;
  }
  
  /* Estilos para los mini perfiles de los amigos */
  .Card {
    margin-bottom: 20px;
  }
  
  .Avatar {
    margin-right: 10px;
  }
  
  /* Estilos para la ventana emergente de la cita */
  .Modal {
    width: 400px;
  }
  
  /* Ajusta los estilos según sea necesario */
  