.estilo-h3 {
    margin-left: 34px;
    color: #000F38;
}

.content-buscador {
    display: flex;
    justify-content: space-around;
    background-color: #FFF;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    margin: 10px;
}

.estilo-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212EA0 !important;
}

.content-buscador h6{
    padding: 5px;
    text-transform: uppercase;  
}