.slider-container {
  padding: 25px;
  width: 80%;
  margin: 0 auto;
}

.perfil{
  display: block;
  text-align: center;
  height: 80px;
}

.perfil-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev,
.slick-next {
  display: none !important;
}

.mi-boton {
  padding: auto;
  border: 2px solid black;
}

.text-center {
  text-align: center;
}

.estilo-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-style {
  width: 270px;

  overflow: hidden;
}

.image-style img {
  width: 100%;
  height: 300px;
  object-fit: content;
  object-position: center;
}