.estilo-h3 {
    font-family:initial;
    margin-left:34px;
    color:#003C43;
}
.content-buscador {
    display: flex;
    justify-content: space-around;
}
.fuente-inicio {
    font-family: cursive;
}

.estilo-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }