body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    position: relative;
    align-items: center;
    text-align: center;
    z-index: 1;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #010101;
    margin: 1px;
    padding: 1px;
  }
  
  p {
    color: #666;
  }
  