
.PerfilC {
    text-align: center;
}
.titulo{
    padding: 1rem;
}
.PerfilCHeader {
    
   
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(27, 18, 210);
    border: 2px solid rgb(10, 10, 15);
}
.PerfilC{
    margin-top: 2px;
    margin-left: 1px;
}
.ImagenContainer {
    display: inline-block; 
    text-align: center; 
    overflow: auto; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-bottom: 20px; 
    border: 2px solid rgb(10, 10, 15);
    border-radius: 5px;
    flex-direction: column;
}
.ImagenList {
    margin-top: 2px;
    margin-left: 10px;
    
    
}
.DatosContainer{
    display: inline-block; 
    text-align: center; 
    overflow: auto; 
    padding: 30px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-bottom: 20px; 
    border: 2px solid black;
    border-radius: 5px;

}
.HobbiesContainer{
    display: inline-block; 
    text-align: center; 
    overflow: auto; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-bottom: 20px; 
    border: 2px solid black;
    border-radius: 5px;
}
.DescripcionContainer{
    display: inline-block; 
    text-align: center; 
    overflow: auto; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-bottom: 20px; 
    border: 2px solid black;
    border-radius: 5px;
}
.Contenedor{
    display: inline-block; 
    text-align: center; 
    overflow: auto; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-bottom: 20px; 
    border: 2px solid black;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .PerfilCHeader {
        font-size: calc(8px + 2vmin);}
    }

    .ImagenContainer {
        max-width: 100%;
    }
    .ImageContainer.ant-image-group{
        grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
        grid-gap: 8px;
    }
    .DatosContainer{
        max-width: 100%;
        flex-direction: column;

    }
    @media screen and (max-width: 576px) {
        .PerfilCHeader {
            font-size: calc(6px + 2vmin);}
        }
    .mostra-da{
        
    }
    .mostra-ho{
    
    }
