.perfil-container{
    padding: 10px;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
}

.perfil-content{
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    text-align: left;
    
}

.perfil-izq {
    width: 35% !important;
    height: 100%;
    /* flex-basis: 40%; */
    
    
}

.perfil-der {
    flex-basis: 58%;
    background-color: #fbf9f9;
    border-radius: 15px;
    padding: 20px;
    padding: 30px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);

}
.sub-contenedor {
    display: flex;
    justify-content: space-between;
}
.switch-wrapper {
    display: flex;
    align-items: center;
}

.switch-wrapper h2 {
    margin: 0;
    margin-right: 5px;
}

.perfil-der h1{
    text-transform: uppercase;
}

.perfil-der h2{
    font-size: 18px;
    padding: 7px;
}
.det-img{
    border-radius: 15px;
    margin: 0;
    text-align: center;
    
}
.usr-info{
    padding: 5px;
    color: rgb(88, 86, 86);
}
.h1-style {
    margin-right: 10%;
}
.hobbies-perfil{        
    display: flex;
    padding: 10px;
}

.hobbies-perfil h4{
    padding: 10px;
    color: #fff;
    background: rgb(19, 79, 175);
    margin: 2px;
    border-radius: 10px;
    font-size: 15px;
}
.usr-det{
    padding: 8px;
    align-items: center;
    text-align: center;
}

.usr-det h4{
    text-transform: capitalize;
    color: rgb(88, 86, 86);;
}


.style-switch {
    width: 60px !important;
    height: 23px !important;
    border-radius: 20px !important;
    background-color: #ccc !important;
    margin-top: 0px !important;
}


  

.ant-switch-checked {
    background-color: #212ea0 !important; 
} 



  
  
  


  


