.perfil-ami-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.perfil-ami-content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.foto-amigo {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 40px;
}

.foto-amigo img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.datos-hobbies {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.datos-personales {
    margin-right: 40px;
    
    padding: 10px;
}

.hobbies {
    flex: 1;
    margin-left: 40px;
   
    padding: 10px;
}

.descripcion {
    width: 100%;
    margin-top: 20px;
    margin-left: 350px;
}

.ant-typography {
    margin-bottom: 20px;
}

.datos-personales {
    display: flex;
    flex-direction: column;
}

.hobbies {
    display: flex;
    flex-direction: column;
}
.mon-n{
    margin-top: 20px;
    margin-left: 350px;
}
.ant-rate {
    margin-top: 10px; /* Margen superior para separar la puntuación de la foto */

}



