.Registro {
  text-align: center;
  padding: 20px;
}

.Registro h1 {
  margin-bottom: 1rem;

}

.Registro .Registro-header {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 20px 0px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.1);
}

.Registro h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}