/* Registro.css */

.Registro {
    text-align: center;
    padding: 20px;
  }
  .Registro h1{
    margin-bottom: 1rem;

  }
  .Registro .Registro-header {
    max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto; /* Centra el formulario horizontalmente */
    padding: 20px;
    background-color: #f0f2f5; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  .Registro h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333; /* Color del texto */
  }
  
  .Registro .ant-checkbox-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .Registro .ant-form-item-label {
    text-align: left; /* Alinea el texto del label a la izquierda */
    color: #666; /* Color del texto */
  }
  
  .Registro .ant-form-item-control {
    text-align: left; /* Alinea el contenido del input a la izquierda */
  }
  
  .Registro .ant-btn {
    width: 100%; /* Ancho completo */
    max-width: 300px; /* Ancho máximo */
    margin: 20px auto; /* Centra el botón horizontalmente y agrega espacio en la parte superior e inferior */
    background-color: #1890ff; /* Color de fondo */
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    color: #fff; /* Color del texto */
    font-size: 16px;
    padding: 10px 20px; /* Espaciado interno */
    cursor: pointer;
    transition: background-color 0.3s; /* Transición suave */
    display: inline-flex;
  align-items: center;
  justify-content: center;
  }
  
  .Registro .ant-btn:hover {
    background-color: #40a9ff; /* Color de fondo al pasar el ratón */
  }
