.btn {
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    background-color: #212ea0;
    border: none;
    border-radius: 5px;
    color: #fffffff7;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}
