.todo{
    display:flex;
    padding: 20px;
    align-items: center;

}
.Fila{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;/* alinear  divs al centro*/
}
.Columna{
    flex: 1;
    margin-right: 30px;
    padding: 10px;
    max-width: 300px;
    grid-gap: 3px; 

    align-items: center;

}